.dropdown-toggle, .dropdown-item{
    cursor: pointer;
    text-decoration: none;
}

.dropdown-toggle::after{
    margin-top: 10px;
}

.nav-item, .nav-link{
    cursor: pointer;
}

img{
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}